BACKEND_APP_NAME=Shibui API
BACKEND_DEBUG=true
BACKEND_SECRET_KEY=replace-me
BACKEND_CORS_ORIGINS=["http://localhost:3000"]
BACKEND_DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/shibui
